---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';

import "flipdown/dist/flipdown.css";
import 'sanitize.css';
import 'sanitize.css/assets.css';
---

<Layout title="Baked by Blake — Sourdough goodies and more!">
	<Header />
	<main>
		<h2>About Blake</h2>
		<img src="/about.jpg" alt="Blake at a market" />
		<p>Hi, I'm Blake! I'm 10 years old and have been baking my whole life.</p>
		<p>My mom worked at the Coffee Barn & Bakery (aka the original Mountaineer Coffee location) when I was in her belly and she's taught me a whole lot about sour dough. I enjoy helping my mom and making some money that I spend on Fortnite, Roblox, and for gifts for my friends.</p>

		<h2>Next Pickup Date</h2>
		<p>About once a month Blake and mom will take over the kitchen and make all the goodies for our friends and neighbors. The next big date is <b>September 7th, 2024</b>.</p>
		<div id="flipdown" class="flipdown" data-timestamp="1725683755"></div>
		<p style="text-align: center;" >Have your orders made by <b>9/02/2024</b> to gaurantee your goods!</p>
		<h2>Menu</h2>
		<p class="tagline">All made with sourdough</p>
		<ul>
			<li><span>Sourdough Loaf</span> <span>$8</span></li>
			<li><span>Specialty Sourdough</span> <span>$10</span></li>
			<li><span>Nana's Bread</span> <span>$8</span></li>
			<li><span>Cheese Crackers</span> <span>$2.50 <small>/ 2 oz.</small> | $4.50 <small>/ 4 oz.</small></span></li>
		</ul>
		<p class="tagline">No sourdough or gluten</p>
		<ul>
			<li><span>Oatmeal cream pies</span> <span>$4.50 <small>ea</small> / $24 <small>half dozen</small></span></li>
			<li><span>Peanut Butter Cookies</span> <span>$3 <small>ea</small> / $15 <small>half dozen</small></span></li>
			<li><span>Cosmo Brownies</span> <span>$3 <small>ea</small> / $15 <small>half dozen</small></span></li>
		</ul>
		<h2>Make an Order</h2>
		<p>Send money along with a note about what you want via either option below:</p>
		<p><strong>Cash App:</strong> <a href="https://cash.app/$KaraPhelps">@karaphelps</a> &nbsp; &nbsp; <strong>Venmo:</strong> <a href="https://venmo.com/u/Kara-Phelps-13">@kara-phelps-13</a></p>
		<img src="/blake.png" />
	</main>
</Layout>

<script is:inline src="/flipdown/dist/flipdown.js"></script>
<script is:inline>
	const time = Number(document.querySelector('.flipdown').dataset.timestamp);	
	new window.FlipDown(time).start();
</script>

<style>
	main {
		max-width: 650px;
		margin: auto;
		padding: 0 1rem;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.flipdown {
		margin: auto;
	}
	ul li {
		display: flex;
		justify-content: space-between;
		border-bottom: 2px solid var(--brown);
		margin-bottom: 1rem;
		font-size: var(--font-size-1);
	}
</style>